/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: Tahoma, Verdana, 'Franklin Gothic Medium', 'MV Boil', sans-serif;
}

.flash {
  color: green;
  font-size: 13px;
  margin: 33px;
}
/* top view start from here */
.top-title {
  padding-top: 30px;
  padding-left: 30px;
}

.top-text {
  padding-top: 30px;
  padding-left: 60px;
  font-size: 12px;
}

.start-button {
  padding-top: 30px;
  padding-left: 60px;
  font-size: 12px;
}

body {
  margin-top: 20px;
  margin-left: 30px;
}

table {
  margin-bottom: 15px;
}

h1 {
  padding-bottom: 15px;
  font-size: 27px;
}

th {
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

td {
  font-size: 13px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.title2 {
  font-size: 20px;
  margin: 15px 0;
}

#error-message {
  width: 450px;
  border: 2px solid red;
  margin-bottom: 10px;
}

.error-title {
  font-size: 13px;
  color: #fff;
  background-color: #c04;
  text-align: left;
  padding: 10px 15px 10px 15px;
}

.error-text {
  font-size: 13px;
  background-color: #f0f0f0;
  padding: 30px 30px 30px 60px;
}

h3 {
  font-weight: normal;
  font-size: 13px;
}

.body-form {
  margin: 10px 0;
}

.submit-button {
  display: block;
}
/* top view done here */
.update-button {
  margin-bottom: 10px
}

.show-link {
  font-size: 13px;
  border-right: 1px solid;
  padding-right: 5px;
  display: inline-block;
}

.back-link {
  font-size: 13px;
  display: inline-block;
}

.edit-link {
  font-size: 13px;
  border-right: 1px solid;
  padding-right: 5px;
  display: inline-block;
}

.show-title {
  font-size: 14px;
  margin: 33px;
}

.show-body {
  font-size: 14px;
  margin: 33px;
}
/*index view start from here*/
/*index view done here*/